* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(235, 235, 235);
    text-align: center;
}

.cabecalho {
    background-color: rgb(80, 163, 112);
    color: white;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 2rem auto;
    padding: 0 1rem;
}

.cadastro {
    background: white;
    border-radius: 10px;
    padding: 1.5rem;
    margin-bottom: 2rem;
    box-shadow: 0 2px 5px rgba(194, 194, 194, 0.301);
}

.cadastro h2 {
    margin-bottom: 1rem;
}

#form-cadastro {
    padding: 5px;
}

#form-cadastro input {
    border-radius: 4px;
    background-color: rgb(235, 235, 235);
    border: none;
    padding: 4px;
}

.campo-nome {
    margin-bottom: 8px;
}

#btn-cadastrar {
    margin-top: 1.5rem;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: rgba(23, 168, 59, 0.897);
    cursor: pointer;
    color: rgb(255, 255, 255);
}

#btn-cadastrar:hover {
    transform: scale(1.05);
    background-color: rgba(9, 133, 40, 0.897);
    transition: all 0.3s ease;
}

.secao-lista {
    text-align: center;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    border-color: rgb(0, 255, 170);
    box-shadow: 0 2px 5px rgba(194, 194, 194, 0.301);
    padding: 12px;
}

table {
    width: 100%;
    margin-top: 18px;
}

table th {
    background-color: rgb(80, 163, 112);
    border-radius: 8px;
    padding: 4px;
    color: white;
    
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* botões de ação */

.btn-baixar {
    background-color: rgba(146, 146, 146, 0.897);
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-excluir {
    background-color: transparent;
    border: none;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
}